*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "bold";
    src: url(fonts/Raleway-ExtraBold.woff),
        url(fonts/Raleway-ExtraBold.woff2);
    font-family: "regular";
    src:url(fonts/Raleway-Regular.woff),
        url(fonts/Raleway-Regular.woff2);
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    min-width: 800px;
    height: 100%;
    position: relative;
    font-size: 32px;
}


.page__title {
    margin-top:45px;
    width: 650px;
    height: 158px;
    top: 180px;
    left: 834px;
    font-family: "bold";
    text-align: center;
    z-index: 1;
    font-weight: 800;
}

.page__title:hover::before { 
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    position: absolute;
    white-space: pre;
    width: 38%;
    height: 14%;
    top: 19%;
    left: 51%;
    border-radius: 20px;
    font-family: "regular";
    font-size: 1.7vw;
    background-color: white;
    font-weight: 100;
    text-align: left;
    padding: 30px;
    border: 2px solid black;
    border-bottom: 15px solid black;
    color: black;
}

.page__title:hover {
    color: #4C4C4C;
}

h1{
    font-size: 117px;
    font-weight: 800;
    margin: 0;
}

h1::after {
    content: "*";
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}